body{
  background-color: #111;
  font-family: verdana;
  color: white;
}
  h1, h3{
    text-align: center;
    margin: 10px;
  }
  a{
    font-family: verdana;
    color: #CDC6AE;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .scoreDisplay{
    position: absolute;
  }
  .grid {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid div {
    width: 20px;
    height: 20px;
  } 
  .snake {
    background: #CDC6AE;
  }
  .apple {
    background: red;
    border-radius: 2px;
  }

  button{
    background-color: #111;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    margin: 5px;
    transition: 0.3s;
  }
  button:hover{
    background-color: white;
    color: #111;
  }

  .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .button button{
    font-size: 2rem;
    padding: 5px;
  }
  .button div{
    display: flex;
    flex-direction: row;
  }

  .popup {
    background: rgb(32, 31, 31);
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }